In [1]:
print("hello World")

hello World

In [2]:
name= "Amit"
Age= "22"
is_student= True

print(name,Age,is_student)

Amit 22 True

In [4]:
a= 10
b= 10.45
c= "python"
flag= False
print(a,b,c,flag)
print(type(a),type(b),type(c),type(flag))

10 10.45 python False
<class 'int'> <class 'float'> <class 'str'> <class 'bool'>

In [6]:
name = "Amit"
Age = "22"
course= "M.Tech CSE"
print("My name is",name,"My age is",Age,"and I am studying in",course)

My name is Amit My age is 22 and I am studying in M.Tech CSE

In [7]:
age = "22"
print(type(age))        # <class 'str'>
age = int(age)          # Convert to integer
print(type(age))        # <class 'int'>

<class 'str'>
<class 'int'>

In [9]:
age= "22"
age = int(age)
age = age + 5
print (age)

27

In [11]:
x= 10
y= 5

print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x//y) #Floor Division (//) â€“ divides and returns integer part only.
print(x%y)
print(x**y)

15
5
50
2.0
2
0
100000

In [13]:
x=10
x += 5
print(x)
x-=3
print(x)
x*=4
print(x)
x/=2
print(x)
x//=3
print(x)
x%=4
print(x)
x**=3
print(x)

15
12
48
24.0
8.0
0.0
0.0