In [1]:
print("hello World")

hello World

In [2]:
name= "Amit"
Age= "22"
is_student= True

print(name,Age,is_student)

Amit 22 True

In [4]:
a= 10
b= 10.45
c= "python"
flag= False
print(a,b,c,flag)
print(type(a),type(b),type(c),type(flag))

10 10.45 python False
<class 'int'> <class 'float'> <class 'str'> <class 'bool'>

In [6]:
name = "Amit"
Age = "22"
course= "M.Tech CSE"
print("My name is",name,"My age is",Age,"and I am studying in",course)

My name is Amit My age is 22 and I am studying in M.Tech CSE

In [7]:
age = "22"
print(type(age))        # <class 'str'>
age = int(age)          # Convert to integer
print(type(age))        # <class 'int'>

<class 'str'>
<class 'int'>

In [9]:
age= "22"
age = int(age)
age = age + 5
print (age)

27

In [11]:
x= 10
y= 5

print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x//y) #Floor Division (//) â€“ divides and returns integer part only.
print(x%y)
print(x**y)

15
5
50
2.0
2
0
100000

In [13]:
x=10
x += 5
print(x)
x-=3
print(x)
x*=4
print(x)
x/=2
print(x)
x//=3
print(x)
x%=4
print(x)
x**=3
print(x)

15
12
48
24.0
8.0
0.0
0.0

In [14]:
#Task1
age ="22"
age = int(age)
print(age+10)

32

In [ ]:
#task2
wallet=1000
buy=275
wallet-= buy
print(wallet)

725

In [20]:
#task3
num=5
num*=8
print(num)

#task4
print("55%6=",55%6)

#task5
x=3
x**=4
print(x)

40
55%6= 1
81

In [21]:
#swap
a=10
b=15
tmp= a
a=b
b= tmp
print(a,b)

15 10

In [22]:
#avg
a=10
b=20
c=30

sum=a+b+c
avg=sum/3
print(avg)

20.0

In [ ]:
#teprature 
c= 37
f=9/5*c+32
print(f)

98.60000000000001

In [30]:
#conditional statement
marks= 80
if marks>= 90:
    print("Grade A")
elif marks>= 75:
    print("Grade B")
elif marks >=50:
    print("Grade c")
else:
    print("Fail")

Grade B

In [ ]:
#even odd
a= 9
if a % 2 == 0:
    print("its an even number")
else:
    print("Odd number")

Odd number

In [13]:
#max of 3 numbers
a=100
b=500
c=89

if a>b:
    print("a is greater")
elif b>c:
    print("b is greater")
elif c>a :
    print("c is greater")

b is greater

In [1]:
# loops
for i in range (1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
# loops for lists and tuples
for x in [10,20,30]:
    print(x)

10
20
30

In [3]:
num=[1,2,3,4,5]
for i in num:
    print(i)

1
2
3
4
5

In [ ]:
#loop for string (to print a single character from string )
for ch in "python":
    print(ch)

a= "amit"
for i in a:
    print(i)

p
y
t
h
o
n
a
m
i
t

In [12]:
#Dictionary
d= {"a":1,"b":2}

for key in d:
    print(key,d[key])

for key, val in d.items():
    print(key,val)

a 1
b 2
a 1
b 2

In [ ]:
# range (start, stop, step)
for i in range (5):
    print(i)

for i in range (1,6):
    print(i)

for i in range (1,10,2):
    print(i)

for i in range(10,0,-2):
    print(i)

0
1
2
3
4
1
2
3
4
5
1
3
5
7
9
10
8
6
4
2

In [15]:
#enumarate() get index+value
names=["amit","Shree","vaibhav"]

for idx, name in enumerate(names, start=1):
    print(idx,name)

1 amit
2 Shree
3 vaibhav

In [18]:
#zip() iterate in parallel
a=(1,2,3,4)
b=(5,6,7,8)

for x,y in zip(a,b):
    print(x,y)

#without loop variable
for _ in range (2):
    print("hi")

1 5
2 6
3 7
4 8
hi
hi

In [20]:
# while loops
count = 5
while count>0:
    print(count)
    count-= 1

5
4
3
2
1

In [21]:
#Loop control: break, continue, pass
#break: exit the loop immediately
#continue: skip the rest of this iteration and go to next
#pass: do nothing (placeholder)
# break example: stop at first even number
for n in [3, 7, 8, 11]:
    if n % 2 == 0:
        print("Found even:", n)
        break

# continue example: skip odds
for n in range(1, 6):
    if n % 2 != 0:
        continue
    print(n)  # 2, 4

# pass example: fill later
for _ in range(3):
    pass

Found even: 8
2
4